# lombok.config
# 프로젝트 루트에 위치 (build.gradle 옆)
#
# 이 설정 없이 @RequiredArgsConstructor를 쓰면, 필드의 @Qualifier가
# 생성된 생성자의 파라미터로 *복사되지 않아* Bean 주입이 실패한다.
#
# 아래 어노테이션들을 만나면 그대로 생성자 파라미터에 복사하라고 지시.

config.stopBubbling = true

# Spring 관련 어노테이션을 생성자 파라미터로 복사
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
